@{
    ViewData["Title"] = "Home Page";
}
    <div>
        <div class="image-holder">
            <img src="~/css/Images/favicon-192.png" alt="panda"/>
        </div>

        <div class="home-content bg-panda">
            <h1 class="header">Welcome to PANDA Delivery Services.</h1>
            <p><a asp-controller="Users" asp-action="Login">Login</a> if you have an Account.</p>
            <p><a asp-controller="Users" asp-action="Register">Register</a> if you don't.</p>
        </div>
    </div>
